.title
{
    margin: 40px;
}
.title__name
{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    margin:10px;
}
.title__description
{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    margin: 10px;
}
.card
{
  margin-left: 110px;
}
.navbar
{
  height: 30px;
  background-color: #2D3640;
}
ul
{
  margin: 0 auto;
  display: inline;
}
li
{
  display: inline;
  margin: 15px;
}

nav a
{
  font-family: "Adobe Arabic";
  font-size:30px;
  color: white;

}
nav a:hover
{
  color: lime;

}
