.CardPerson
{
  display: inline-block;
  height: 470px;
  min-width: 295px;
  margin: 0 auto;
  border: 1px solid black;
  margin-right: 56px;
  background: #FFFFFF;
  border: 1px solid #EAEDF2;
  box-shadow: 0px 0px 10px rgba(45, 54, 64, 0.05);
  border-radius: 20px;
}
.CardPerson__Description
{
  display: grid;
  grid-template-rows: 56px 120px 34px 33px 22px 26px 55px 20px 80px;
}
.CardPerson:hover
{
  transform: scale(1.1);
}
.CardPerson__Description__name
{
  font-family: Catamaran;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  letter-spacing: -0.625px;
  color: #2D3640;
  margin: 0 auto;
  grid-row: 4;
}
.CardPerson__Description__profession
{
  font-family: Catamaran;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #4B4F52;
  margin: 0 auto;
  grid-row: 6;
}
.delete
{
  color: black;
  grid-row: -1;
  width: auto;
  height: 40px;
  font-size: 30px;
}
.delete:hover
{
  background-color: #ff726f;
}
.CardPerson__Description__img
{
  margin: 0 auto;
  grid-row: 2;
  width: 100px;
  height: 100px;
  border-radius: 60px;
  border: 5px solid #7FADF4;
}

